<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% if title %}
            {{ title }}
        {% else %}
            {{"欢迎"}}
        {% endif %}
    </title>
</head>
<body>
    {% if c %}
        <img src="http://127.0.0.1:5000/img?c={{c}}&v=86" height="100">
    {% else %}
        <input type="text" class="form-control" id="c">
        <button type="button" class="btn btn-success" id="query">查询</button>
    {% endif %}
</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script>
    $('#query').click(function() {
        location.href = "/" + $("#c").val()
    });
</script>
</html>